<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1 class="card-title text-center"> Login de Usuarios </h1>
            <p class="card-text text-center mb-4"> Inicia Sesión </p>
            <div class="d-grip gap-2">
                <a href="/api/sessions/google" class="btn btn-danger btn-lg text-white">
                    <i class="bi bi-google"></i>
                    Iniciar sesion con Google
                </a>
            </div>
        </div>
    </div>
</div>